{{ define "content" }}
{{ if not .Products }}
  <p>Welcome to our test store. Currently there are no products yet in the store.</p>
  <p><a href="/admin/products/new">Create a product</a></p>
{{ else }}
  <h1>Products</h1>
  <p><a href="/admin/products/new">New product</a></p>

  <ul>
    {{ range .Products }}
      <li>
        <p>
          <strong>{{ .Title }}</strong><br>
          {{ .Description }}
        </p>

        <p>
          Qty: {{ .Quantity }}<br>
          Price: {{ .Price }}<br>
          Image URL: {{ .ImageURL }}
        </p>

        <p>
          <a href="/admin/products/edit?id={{ .ID }}">Edit</a>
          |
          <a href="/admin/products/delete?id={{ .ID }}">Delete</a>
        </p>

        <hr>
      </li>
    {{ end }}
  </ul>
{{ end }}
{{ end }}
